body {
background-color: black;
background-image: url('images/cassie-lafferty-lion2-unsplash.jpg');
background-repeat: no-repeat;
background-size: cover;
color: #EEF0EE;
}
/* image source: https://unsplash.com/photos/Y2pH9NuO84w */

.logos img {
  width: 35px;
  height: 35px;
  background-color: #EEF0EE;
  border-radius: 10px;
  padding: 7px;
}

.red-panda {
  background-image: url('images/jessica-weiller-redpanda-unsplash.jpg');
}

/* image source: https://unsplash.com/photos/GAw5wFLVWVo */

.penguins {
  background-image: url('images/atlas-kadrow-penguin-unsplash.jpg')
}

/* image source: https://unsplash.com/photos/4m93a-sZsDs */

/* cougar image source: https://unsplash.com/photos/6bZQonml5do */

.seal {
  background-image: url('images/samuel-scrimshaw-seal-unsplash.jpg');

}

/* image source: https://unsplash.com/photos/bHHR2jn7dYM */

.otter {
  background-image: url('images/thomas-lipke-otters-unsplash.jpg');
}

/* image source: https://unsplash.com/photos/_LKpNxAzSog */
/* https://unsplash.com/photos/lDXo_PA_8BU */

/* Google Fonts
Slab serif: roboto slab 40px;

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
</style>

font-family: 'Roboto Slab', serif;

bottom links

<style>
@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
</style>

font-family: 'Almarai', sans-serif;

Other
<style>
@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Cabin+Condensed:wght@500;600&display=swap');
</style>

font-family: 'Almarai', sans-serif;
font-family: 'Cabin Condensed', sans-serif;

 -------------------- */

/* Media Queries -------------------- */

/* Mobile */
@media (max-width: 610px) {
  body {
    background: darkred;
  }
}

/* Breakpoint 2 */
@media (min-width: 611px) and (max-width: 750px) {
  body {
    background: orange;
  }
}

/* Breakpoint 3 */
@media (min-width: 751px) and (max-width: 1024px) {
  body {
    background: green;
  }
}

/* Full Screen */
@media (min-width: 1025px) {

}
